doctype html
html(lang="en")
    head
        link(rel="stylesheet" href='css/style.min.css')
    body
        include html/header
        main.page
            h1 Привет!
            //- img(width="150px", src="@img/picture.png", alt="img")
            span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui cupiditate odit dicta quibusdam, atque accusamus inventore consequatur harum dolorem explicabo nulla facere officiis quam vitae sequi cumque pariatur sed consectetur.
        include html/footer
        script(src='js/app.min.js')
        img(src="/img/icons/icons.svg#pdf-file", alt="", width="32px", height="32px")